[submodule "frontend"]
	path = frontend
	url = https://github.com/peter-francois/cnp-connect-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/peter-francois/cnp-connect-backend.git
