services:

  db:
    container_name: db
    image: mysql:8.4
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - app-network

  phpmyadmin:
    container_name: phpmyadmin
    depends_on:
      - db
    image: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    networks:
      - app-network
    environment:
      PMA_HOST: ${PMA_HOST}

  back:
    build: 
      context: ${BACKEND_PATH}
      dockerfile: dockerfile.dev
    container_name: back
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    networks:
      - app-network
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NODE_ENV: ${NODE_ENV}
      PORT: ${BACKEND_PORT}
      ACCESS_JWT_SECRET: ${JWT_ACCESS_SECRET}
      REFRESH_JWT_SECRET: ${JWT_REFRESH_SECRET}
      TOKEN_TYPE: ${JWT_TOKEN_TYPE}
      CRYPTO_SECRET: ${CRYPTO_SECRET}
      FRONTEND_URL: ${FRONTEND_URL}

  front:
    build: 
      context: ${FRONTEND_PATH}
    container_name: front
    restart: always
    depends_on:
      - back
    ports:
      - 80:80
    networks:
      - app-network
    environment:
      VITE_API_BASE_URL: ${VITE_API_BASE_URL}

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
